<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons>
            <ion-back-button dafaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>MUJERES LOMAS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
       
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/oG2WT4a4L1k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<ion-card padding>



    <p>
        <strong><ion-text color="tertiary">Mujeres Lomas</ion-text></strong> somos emprendedoras, estudiantes, trabajadoras, novias, migrantes,  profesionales, jubiladas, madres, militantes, maestras, abuelas, hijas, científicas, diversas. 
    </p>
    <p>
        <strong><ion-text color="tertiary">Mujeres Lomas</ion-text></strong>  somos quienes día a día hacemos posible lo que nos dijeron que era imposible. 
    </p>
    <p>
    En  <strong><ion-text color="tertiary">Mujeres Lomas</ion-text></strong>  sabemos que vos sos la protagonista.
    </p>
    <p>
    En esta aplicación vas a encontrar información que te facilita el acceso a los recursos que el Municipio te ofrece para ejercer tus Derechos. 
    </p>
    <p>
    Por eso es importante que puedas acceder a la información que necesitas de manera rápida y sencilla sobre cuestiones como: 
    </p>
    <p>
        <strong><ion-text color="tertiary">Violencia de Género</ion-text></strong>, porque sabemos y podemos ayudarte,
        <strong><ion-text color="tertiary">Salud</ion-text></strong>, para que puedas llegar al centro de atención más cercano a donde vivís, 
        <strong><ion-text color="tertiary">Acceso a la Justicia y Seguridad</ion-text></strong>, para que sepas dónde acercarte para radicar denuncias o pedir asistencia,
        <strong> <ion-text color="tertiary">Educación y Formación laboral </ion-text></strong>, porque las Mujeres Lomas somos prósperas y emprendedoras;
        <strong><ion-text color="tertiary">Actividades culturales y deportivas </ion-text></strong>, para que nuestras voces se escuchen y la sororidad sea nuestro idioma;
        <strong> <ion-text color="tertiary">Desarrollo Social y Comunitario </ion-text></strong>, porque creemos en vos, en las instituciones de la comunidad y en lo que somos capaces de lograr.
    </p>
    <p>
    Gracias por sumarte a Mujeres Lomas donde vos sos la protagonista.
    </p>
    <p>
        <strong>Invita a otras mujeres a que hagan lo mismo. </strong> 
    </p>
    


    
<!-- <p>
Mujeres Lomas son estudiantes, trabajadoras, novias, madres, abuelas, hijas.
Mujeres Lomas somos todas quienes día a día hacemos posible lo que nos
dijeron que era imposible. En Mujeres Lomas sabemos que sos la
protagonista.
</p>
<p>
Por eso desarrollamos una aplicación gratuita con información para facilitarte el
acceso a los recursos que el Municipio te ofrece para ejercer tus Derechos.
</p>
<p>
Te pensamos en forma integral y es importante que puedas acceder a la
información que necesitas de manera rápida y sencilla sobre cuestiones como
</p>
<p>
<strong><ion-text color="tertiary">Violencia de Género</ion-text></strong>, porque sabemos y podemos ayudarte,</p>
<p>
<strong><ion-text color="tertiary">Salud</ion-text></strong>, para que puedas llegar al centro de atención más cercano a donde vivís,
</p>
<p>
<strong><ion-text color="tertiary">Acceso a la Justicia y Seguridad</ion-text></strong>, para que sepas dónde acercarte para
radicar denuncias o pedir asistencia,
</p>
<p>
<strong> <ion-text color="tertiary">Educación y Formación laboral </ion-text></strong>, porque las Mujeres Lomas somos prósperas
y emprendedoras;<br>
</p>
<p>
<strong><ion-text color="tertiary">Actividades culturales y deportivas </ion-text></strong>, para que nuestras voces se escuchen y
la sororidad sea nuestro idioma;
</p>
<p>
<strong> <ion-text color="tertiary">Desarrollo Social y Comunitario </ion-text></strong>, porque creemos en vos, en la instituciones
de la comunidad y en lo que somos capaces de lograr.
</p>
<p>
Sumate a Mujeres Lomas, se la protagonista, empezá a usar la app.
</p> -->

</ion-card>

</ion-content>

<!-- <ion-footer>
    <ion-toolbar>
        <ion-button expand="full" (click)="enviar()">
            Enviar Consulta
        </ion-button>

    </ion-toolbar>
</ion-footer> -->