<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons>
          <ion-back-button dafaultHref="/"></ion-back-button>
      </ion-buttons>
  <ion-title>¿QUE PUEDO HACER?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/oG2WT4a4L1k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<ion-card padding>



  <p>
    Si en el autocuestionario (vínculo al cuestionario) respondiste afirmativamente a cualquiera de las preguntas o ya sabés que estás padeciendo violencia de género, te sugerimos:  
  </p>
  <p>
    	Protegé tu integridad física y la de tus hijos o hijas, si los hubiere: ante una situación de riesgo físico comunícate inmediatamente al #911.
  </p>
  <p>
     Acercate a pedir asistencia lo antes posible a cualquiera de las dos sedes de la Dirección Municipal de Derechos de las Mujeres y Equidad de Género:
    </p>
     <p>
      •	Sede Villa Fiorito – Hogar de Protección Integral para Mujeres en Situación de Violencia “Fátima Catán” 
      Recondo 1374, Villa Fiorito (Ver mapa)
      (+54-11) 4267 - 0528
      hogarfatimacatan@gmail.com 
      Atención espontánea de lunes a viernes, de 08 a 14 hs.
      Atención telefónica y presencial permanente.      
     </p>
     <p>
      •	Sede Lomas Centro - ROCALOM 
      República Árabe de Siria Nº 75 - 1º Piso (Ver mapa)
      (+54-11) 4239 - 9634
      direcciondegenerolomas@gmail.com 
      Atención espontánea de lunes a viernes, de 08 a 14 hs.       
     </p>
  
  <p>
    Tené en cuenta que:
  </p>
  <p>
    •	Informarte apropiadamente es el primer paso: te brindará tranquilidad y te dará mayor certeza sobre todo lo que sucede.  Hacé todas las preguntas que necesites las veces que creas necesarias. 
  </p>
  <p>
    •	La denuncia policial o en Tribunales no es requisito para que te brindemos ayuda.
  </p>
  <p>
    •	Todos los trámites y la atención son absolutamente gratuitos.
  </p>
  <p>
    •	Tenés derecho a ser escuchada en un espacio de intimidad y podés estar acompañada por una amiga, familiar o vecina en todo momento.
  </p>
  <p>
    	La Leyes que te protegen son:
  </p>
  <p>
•	Ley Nacional Nº  26.485:
Ley de Protección Integral para Prevenir, Sancionar y Erradicar la Violencia Contra las Mujeres 
</p>
<p>
•	Ley Nacional Nº 27.501.
Modificación. Incorporación como modalidad de violencia a la mujer al acoso callejero.
</p>
<p>
•	Ley Provincial Nº 14.509 
</p>
<p>
•	Ordenanza Municipal 16.001 

</p>
 
  <p>
    Acercate a nuestras sedes o llamanos, tenemos equipos profesionales integrales para brindarte información y acompañarte. 
  </p>
  


  
<!-- <p>
Mujeres Lomas son estudiantes, trabajadoras, novias, madres, abuelas, hijas.
Mujeres Lomas somos todas quienes día a día hacemos posible lo que nos
dijeron que era imposible. En Mujeres Lomas sabemos que sos la
protagonista.
</p>
<p>
Por eso desarrollamos una aplicación gratuita con información para facilitarte el
acceso a los recursos que el Municipio te ofrece para ejercer tus Derechos.
</p>
<p>
Te pensamos en forma integral y es importante que puedas acceder a la
información que necesitas de manera rápida y sencilla sobre cuestiones como
</p>
<p>
<strong><ion-text color="tertiary">Violencia de Género</ion-text></strong>, porque sabemos y podemos ayudarte,</p>
<p>
<strong><ion-text color="tertiary">Salud</ion-text></strong>, para que puedas llegar al centro de atención más cercano a donde vivís,
</p>
<p>
<strong><ion-text color="tertiary">Acceso a la Justicia y Seguridad</ion-text></strong>, para que sepas dónde acercarte para
radicar denuncias o pedir asistencia,
</p>
<p>
<strong> <ion-text color="tertiary">Educación y Formación laboral </ion-text></strong>, porque las Mujeres Lomas somos prósperas
y emprendedoras;<br>
</p>
<p>
<strong><ion-text color="tertiary">Actividades culturales y deportivas </ion-text></strong>, para que nuestras voces se escuchen y
la sororidad sea nuestro idioma;
</p>
<p>
<strong> <ion-text color="tertiary">Desarrollo Social y Comunitario </ion-text></strong>, porque creemos en vos, en la instituciones
de la comunidad y en lo que somos capaces de lograr.
</p>
<p>
Sumate a Mujeres Lomas, se la protagonista, empezá a usar la app.
</p> -->

</ion-card>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
      <ion-button expand="full" (click)="enviar()">
          Enviar Consulta
      </ion-button>

  </ion-toolbar>
</ion-footer> -->