<ion-header>
  <ion-toolbar color="success">
      <ion-buttons>
          <ion-back-button dafaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>VIOLENCIA DE GÉNERO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <iframe width="100%" height="315" src="https://www.youtube.com/embed/s6E0jx43Qy0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <ion-card >
            <ion-card-header>
              Autocuestionario
            </ion-card-header>
            <ion-card-content>

              <ion-list >

                <ion-item >
                  <ion-label class="ion-text-wrap">¿Tu pareja te acusa constantemente de serle infiel o se opone a tus
                    relaciones con tu familia o amistades?</ion-label>
                  <ion-toggle [(ngModel)]="a"></ion-toggle>
                </ion-item>

                <ion-item >
                  <ion-label class="ion-text-wrap"> ¿Critica a tus familiares o amistades, y se opone a que te relaciones con ellos? </ion-label>
                  <ion-toggle [(ngModel)]="b"></ion-toggle>
                </ion-item>

                <ion-item >
                  <ion-label class="ion-text-wrap">¿Controla tus salidas, tus horarios, los lugares donde vas, la ropa que usás? ¿Necesitás pedirle permiso para salir de tu casa? </ion-label>
                  <ion-toggle [(ngModel)]="c"></ion-toggle>
                </ion-item>

                <ion-item >
                  <ion-label class="ion-text-wrap">¿Te prohíbe trabajar? </ion-label>
                  <ion-toggle [(ngModel)]="d"></ion-toggle>
                </ion-item>

                <ion-item >
                <ion-label class="ion-text-wrap">¿Revisa tu celular sin tu consentimiento? 
                  </ion-label>
                  <ion-toggle [(ngModel)]="e"></ion-toggle>
                </ion-item>
                
                <ion-item >
                <ion-label class="ion-text-wrap">¿Te insulta, te critica, te desvaloriza, te trata con desprecio o te humilla delante de otras personas?
                </ion-label>
                <ion-toggle [(ngModel)]="f"></ion-toggle>
                </ion-item>

                <ion-item >
                <ion-label class="ion-text-wrap">¿Sentís que hagas lo que hagas te hace sentir siempre culpable? 
                </ion-label>
                <ion-toggle [(ngModel)]="g"></ion-toggle>
                </ion-item>
           
                <ion-item >
                <ion-label class="ion-text-wrap">¿No podés decidir sobre tus gastos o los gastos del hogar? 
                </ion-label>
                <ion-toggle [(ngModel)]="h"></ion-toggle>
                </ion-item>

                <ion-item>
                <ion-label class="ion-text-wrap">¿Se pone agresivo después de beber alcohol o consumir drogas? 
                </ion-label>
                <ion-toggle [(ngModel)]="i"></ion-toggle>
                </ion-item>
       
                <ion-item>
                <ion-label class="ion-text-wrap">¿Amenaza con pegarte? ¿Te empujó o te golpeó? 
                </ion-label>
                <ion-toggle [(ngModel)]="j"></ion-toggle>
                </ion-item>
                
                <ion-item>
                  <ion-label class="ion-text-wrap">¿Te presiona para tener relaciones sexuales sin tener en cuenta tu deseo o consentimiento?
                  </ion-label>
                  <ion-toggle [(ngModel)]="j"></ion-toggle>
                  </ion-item>

                </ion-list>
          
           

            </ion-card-content>

            <ion-card-content>
              <p>
                <ion-icon slot="icon-only" name="warning" color="danger"></ion-icon>
                Si respondiste SI a cualquiera de estas preguntas, es probable que estés padeciendo violencia de género y seguramente te sentís confundida, con miedo, vergüenza, indefensa…. 
              </p>
              <p>
                La salida de una vida en la que se sufre violencia no es fácil ni se logra en un solo paso, sino que es un proceso, en el cual se irán tomando decisiones, y lo importante es estar siempre acompañada.
Acercate a nuestras sedes o llamanos, tenemos equipos profesionales integrales para brindarte información y acompañarte.
              </p>
              <hr>
              <p>
               <strong> Secretaría de Desarrollo Social
Subsecretaría de Políticas Sociales</strong>
</p>
<p>

<strong> Municipal de Derechos de las Mujeres y Equidad de Género
Sede Lomas Centro - ROCALOM </strong>

República Árabe de Siria Nº 75 - 1º Piso 
(+54-11) 4239 - 9634
<br>
direcciondegenerolomas@gmail.com 
Atención espontánea de lunes a viernes, de 08 a 14 hs. 
</p>
<p>
  <strong>
  Sede Villa Fiorito – Hogar de Protección Integral para Mujeres en Situación de Violencia “Fátima Catán” . 
</strong>
Recondo 1374, Villa Fiorito
(+54-11) 4267 - 0528
</p>
<p>

hogarfatimacatan@gmail.com 
Atención espontánea de lunes a viernes, de 08 a 14 hs.
Atención telefónica y presencial permanente.
</p>

              
            </ion-card-content>
            
          </ion-card>

          
</ion-content>