<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons>
            <ion-back-button dafaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>MIS DERECHOS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/j0hnBF9OWOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       

            <ion-card padding>
                <p>
                Un Derecho es un conjunto de principios, leyes y reglas que regulan la vida
                en sociedad y que las personas deben obedecer; el Estado tiene la
                obligación de garantizarte ese Derecho sin que nadie te lo impida. Los
                Derechos son tuyos.
                 </p>
                <p>
                ¿Porqué existen los Derechos de las Mujeres?
                </p>
                <p>
                En una legislación donde históricamente fue el hombre el sujeto de
                Derecho privilegiado, el movimiento feminista puso el foco en las
                desigualdades y la inequidad.
                </p>
                <p>
                Por ello, los Derechos de las Mujeres se sustentan en el principio de
                igualdad y equidad: igualdad de derechos y equidad en las oportunidades.
                Por ejemplo: por la misma tarea, un hombre y una mujer deben recibir la
                misma remuneración.
                </p>
                <p>
                Entre otros, tenés Derecho a la integridad, al control del propio cuerpo, al
                sufragio (votar), remuneración justa e igualitaria, poseer propiedades,
                educación, a firmar contratos parentales y matrimoniales, a ejercer
                libremente tu sexualidad, a elegir el deporte que más te guste, a la
                privacidad en tus comunicaciones, etc.
                 </p>
                <p>
                Los Derechos de las Mujeres son Derechos Humanos y son inalienables,
                esto significa que nadie puede quitártelos, ni siquiera el Estado.
                </p>
            </ion-card>

            
</ion-content>